EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:7126
EXPO_PUBLIC_AI_BASE_URL=http://10.0.2.2:8000
EXPO_PUBLIC_LOGIN_ENDPOINT=/api/v1/auth/login
EXPO_PUBLIC_REGISTER_ENDPOINT=/api/v1/auth/register
EXPO_PUBLIC_FORGOT_PASSWORD_ENDPOINT=/api/v1/auth/forgot-password
EXPO_PUBLIC_GOOGLE_AUTH_ENDPOINT=/api/v1/auth/google/login
EXPO_PUBLIC_GOOGLE_REGISTER_ENDPOINT=/api/v1/auth/google/register
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-android-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-web-client-id.apps.googleusercontent.com
